[access]
	inheritFrom = All-Projects
[submit]
	action = merge always
[project]
	description = A playful Dev Hub where it utilizes Ubuntu 20.04 clone, and ReactJS. Inspired by Vivek's portfolio.
[access "refs/*"]
	owner = group user/Adrian (garett09)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Adrian (garett09)
	label-Verified = -1..+1 group user/Adrian (garett09)
	push = group user/Adrian (garett09)
	read = group user/Adrian (garett09)
	rebase = group user/Adrian (garett09)
	removeReviewer = group user/Adrian (garett09)
	submit = group user/Adrian (garett09)
[access "refs/heads/*"]
	create = group user/Adrian (garett09)
	push = +force group user/Adrian (garett09)
	pushMerge = group user/Adrian (garett09)
	read = group user/Adrian (garett09)
[access "refs/tags/*"]
	push = group user/Adrian (garett09)
	push = +force group user/Adrian (garett09)
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
