[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A playful Dev Hub where it utilizes Ubuntu 20.04 clone, and ReactJS. Inspired by Vivek's portfolio.
[access "refs/*"]
	owner = group user/Adrian Sian (garett09)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Adrian Sian (garett09)
	label-Verified = -1..+1 group user/Adrian Sian (garett09)
	push = group user/Adrian Sian (garett09)
	read = group user/Adrian Sian (garett09)
	rebase = group user/Adrian Sian (garett09)
	removeReviewer = group user/Adrian Sian (garett09)
	submit = group user/Adrian Sian (garett09)
[access "refs/heads/*"]
	create = group user/Adrian Sian (garett09)
	push = +force group user/Adrian Sian (garett09)
	pushMerge = group user/Adrian Sian (garett09)
	read = group user/Adrian Sian (garett09)
[access "refs/tags/*"]
	push = group user/Adrian Sian (garett09)
	push = +force group user/Adrian Sian (garett09)
